<!DOCTYPE html>
<html lang="fr">
    <head>
    {% load render_table from django_tables2 %}
    {% load static %}

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>
    <!-- Bootstrap-->
    <link href="{% static 'lib/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <!--Common Plugins CSS -->
    <link href="{% static 'cssadmin/plugins/plugins2.css' %}" rel="stylesheet">
    <!--fonts-->
    <link href="{% static 'lib/line-icons/line-icons.css' %}" rel="stylesheet">
    <link href="{% static 'lib/font-awesome/css/fontawesome-all.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/dt-picker/jquery.datetimepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/select2/dist/css/select2.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/chartist/chartist.min.css' %}" rel="stylesheet" />
    <link href="{% static 'cssadmin/chartist-custom.css' %}" rel="stylesheet" />
    <link href="{% static 'cssadmin/picker-custom.css' %}" rel="stylesheet" />
    <link href="{% static 'cssadmin/select2-custom.css' %}" rel="stylesheet">
    <link href="{% static 'cssadmin/style.css' %}" rel="stylesheet">
</head>
<body class="bg-white">
    <div class="page-wrapper" id="page-wrapper">
    <aside id="page-aside" class=" page-aside">
        <div class="sidenav darkNav">
            <a href="{% url 'console_admin:console_admin' %}" class="app-logo d-flex flex flex-row align-items-center overflow-hidden justify-content-center">
                <span class="nav-text"> S a n d r i n e - C h e v a l i e r</span>
            </a>
            <div class="flex">
                <div class="aside-content">
                    <p> </p>
                    <p class="nav-text text-center">
                        <a href="{% url 'console_admin:console_admin' %}" class="btn btn-icon btn-outline-info mb-2 ">
                            <i class="icon-Administrator"></i> Dashboard Accueil
                        </a>
                    </p>
                    <p class="nav-text text-center">
                        <b>A D M I N I S T R A T I O N</b>

                    </p>
                    <ul class="metisMenu" id="metisMenu">
                        <li >
                            <i class="icon-Folder nav-thumbnail"></i>
                            <a class="has-arrow" href="{% url 'console_admin:categories_list' %}">
                                <span class="nav-text">
                                    Categories
                                </span>
                            </a>
                        </li>
                        <li > <i class="icon-Apple nav-thumbnail"></i>
                            <a class="has-arrow" href="{% url 'console_admin:product_list' %}">
                                <span class="nav-text">
                                    Produits
                                </span>
                            </a>
                        </li>

                        <li >
                            <i class="icon-Face-Style nav-thumbnail"></i>
                            <a class="has-arrow" href="{% url 'console_admin:list_customer' %}">
                                <span class="nav-text">
                                    Client
                                </span>
                            </a>
                        </li>
                        <li > <i class="icon-Add-Basket nav-thumbnail"></i>
                            <a class="has-arrow" href="{% url 'admin:console_admin' %}">
                                <span class="nav-text">
                                    Commande
                                </span>
                            </a>
                        </li>
                        <!--Menu-Portfolio-->
                        <li > <i class="icon-Picasa nav-thumbnail"></i>
                            <a class="has-arrow" href="{% url 'console_admin:list_portfolio' %}">
                                <span class="nav-text">
                                    Portfolio
                                </span>
                            </a>
                        </li>
                        <!--Menu Parametre-->
                        <li > <i class="icon-Save nav-thumbnail"></i>
                            <a class="has-arrow" href="{% url 'console_admin:list_parameters' %}">
                                <span class="nav-text">
                                    Paramètrage
                                </span>
                            </a>
                        </li>
                    </ul>
                </div><!-- aside content end-->
                <a href="{% url 'authentication:logout' %}" >
                    <p class="nav-text bg-danger text-center">
                        <b> >>> Se Déconnecter <<<</b>
                    </p>
                </a>
            </div><!-- aside hidden scroll end-->
            <div class="aside-footer p-3 pl-25">
                <div class="text-center ">
                    App Version - 1.0
                </div>
            </div><!-- aside footer end-->
        </div><!-- sidenav end-->
    </aside><!-- page-aside end-->
    <main class="content">
        <header class="navbar page-header darkHeader navbar-expand-lg">
            <ul class="nav flex-row order-lg-1 ml-auto nav-icons">
                <ul class="nav flex-row order-lg-2 ml-auto nav-icons">
                    <a href="{% url 'index' %}" class="btn btn-icon btn-outline-pink mb-2 ">
                        <i class="icon-Face-Style2"></i>Site Client
                    </a>
                </ul>
            </ul>
        </header>
        {% block content %}
        {% endblock %}
        <footer class="content-footer bg-dark b-t">
            <div class="d-flex flex align-items-center pl-15 pr-15">
                <div class="d-flex flex p-3 ml-auto">
                    <div>
                        <a href="mailto:gregory.leterte@gmail.com" class="d-inline-flex pl-0 pr-2 b-r"> <span class="text-dark  ml-1 ">Grégory Le Terte >> Contacter développeur << </span></a>
                    </div>
                </div>
                <div class="d-flex flex p-3 mr-auto justify-content-end">
                    <div class="text-muted">© Copyright 2020-2021 Sandrine Chevalier</div>
                </div>
            </div>
        </footer><!-- footer end-->
    </main>
    </div>
</body>
<!-- Common plugins -->
<script type="text/javascript" src="{% static 'jsadmin/plugins/plugins.js' %}"></script>
<script type="text/javascript" src="{% static 'jsadmin/appUi-custom.js' %}"></script>
<script src="{% static 'lib/chartist/chartist.min.js' %}"></script>
<script src="{% static 'lib/chartist/chartist-tooltip.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/peity/jquery.peity.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/dt-picker/jquery.datetimepicker.full.min.js' %}"></script>
<script src="{% static 'lib/select2/dist/js/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'jsadmin/dashboard02-custom.js' %}"></script>

{% include 'order/include/js.html' %}
    {%  block extra_js %}{% endblock %}
</html>
