<!DOCTYPE html>
<html lang="fr">

<head>
  {% load static %}

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Sandrine Chevalier</title>
        <!-- Plugins CSS -->
        <link href="{% static 'css/plugins/plugins.css' %}" rel="stylesheet">
        <!-- load css for cubeportfolio -->
        <link rel="stylesheet" type="text/css" href="{% static 'cubeportfolio/css/cubeportfolio.min.css' %}">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head>

</head>

        <!-- Site Overlay -->
        <div class="site-overlay"></div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-transparent navbar--darkimg">
            <div class="container">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">
                    {% if logo.url != '' %}
                        <img  class="logo logo-light hidden-md-down" src="{{logo.url}}" >
                    {% else %}
                        Pas de logo enregistré
                    {% endif %}
                    {{tel_societe}}

                </a>

                <div  id="navbarNavDropdown" class="navbar-collapse collapse">

                    <ul class="navbar-nav ml-auto ">

                        <li class="nav-item dropdown"><a href="{% url 'index' %}" class="nav-link">Accueil</a></li>
                        <li class="nav-item dropdown"><a href="{% url 'portfolio:all' %}" class="nav-link">Portfolio</a></li>


                    {% if user.is_authenticated %}
                         <ul class="nav-item dropdown">
                         {% if user.is_staff %}
                             <a class="nav-link  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Espace Admin</a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="{% url 'console_admin:console_admin' %}" class="btn btn-outline-primary mb-2">Administrateur</a></li>
                                    <li><a href="{% url 'authentication:logout' %}" class="dropdown1-item">Se Déconnecter</a></li>
                                </ul>

                         {% else %}
                             <a class="nav-link  dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">Mon espace</a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="{% url 'authentication:account' %}" class="dropdown-item">Acces à mon espace client</a></li>

                                    <li><a href="{% url 'authentication:logout' %}" class="dropdown1-item">Se Déconnecter</a></li>
                                </ul>
                         {% endif %}
                    {% else %}
                         <li class="nav-item"><a href="{% url 'authentication:login' %}" class=" btn btn-primary btn-rounded btn-sm">Se Connecter</a></li>
                    {% endif %}
                        </ul>
                </div>

                </ul>
            </div>
        </nav>
  {% block content %}
  
  {% endblock %}


  <!-- Footer -->
 <footer id="footer" class="footer footer-dark pt50 pb10">
            <div class="container">
                <div class="info-footer">
                    <div class="col-lg-3 col-md-6 mb40">
                        <h3>A propos de moi</h3>
                        <p>
                            {{ propos_moi}}
                        </p>
                        <a href="#" class="btn btn-sm btn-white-outline">Learn More</a>
                    </div>
                    <div class="col-lg-3 col-md-6 mb40">
                        <h3>A suivre</h3>
                        <ul class="list-unstyled footer-list-item">
                            <li>
                                <a href="#">
                                    Lorem ipsum dolor sit amet
                                </a><br>
                                <em>10 Octobre 2020</em>
                            </li>
                            <li>
                                <a href="#">
                                    Consectetur adipiscing elit
                                </a><br>
                                <em>12 Octobre 2020</em>
                            </li>
                            <li>
                                <a href="#">
                                    Sed do eiusmod tempor incididunt
                                </a><br>
                                <em>15 Octobre 2020</em>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 mb40">
                        <h3>Me Contacter</h3>
                        <ul class="list-unstyled contact-list-item">
                            <li>
                                <i class="ti-home"></i>
                                {{nom_societe}} {{ adresse_societe }}
                            </li>
                            <li>
                                <i class="ti-email"></i>
                                {{email_societe}}
                            </li>
                            <li>
                                <i class="ti-mobile"></i>
                              {{tel_societe}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="bottom-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <span>&copy; Copyright 2020. Tous droits réservés.</span>
                        </div>
                        <div class="col-sm-8 text-right">
                            <ul class="list-inline footer-nav">
                                <li class="list-inline-item">
                                    <a href="#">Accueil</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
<!--/footer-->
  <a href="#" class="back-to-top hidden-xs-down" id="back-to-top"><i class="ti-angle-up"></i></a>
        <!-- jQuery first, then Tether, then Bootstrap JS. -->
        <script type="text/javascript" src="{% static 'js/plugins/plugins.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/assan.custom.js' %}"></script>
        <!-- load cubeportfolio -->
        <script type="text/javascript" src="{% static 'cubeportfolio/js/jquery.cubeportfolio.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/cube-mosaic.js' %}"></script>

</body>

</html>
