{% extends 'baseadmin.html' %} {% load render_table from django_tables2 %} {% load static %}

{% block content %}
    <div class="page-content">
        <div class="container-fluid">
            <div class="row align-items-center mb-30 pt-30">
                <div class="col-md-12 mr-auto ml-auto">
                    <div class="mb-0">
                        <h4>Action rapide, vue generale </h4>
                        <!-- Widget -->
                        <div class="page-content">
                            <div class="container-fluid">
                                <div class="title-sep sep-body mb-30">

                                    <span>Chiffres</span>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-6 mb-30">
                                        <div class="list bg-white border1">
                                            <div class="list-item">
                                                <div class="list-thumb avatar si-colored-facebook  rounded avatar50">
                                                    <i class="fa fa-user-circle"></i>
                                                </div>
                                                <div class="list-body text-right">
                                                    <span class="list-title fs-1x">
                                                        <a href="{% url 'console_admin:list_customer' %}">
                                                            {{ count_customers}} client{{ count_customers|pluralize}}
                                                        </a>
                                                    </span>
                                                    <span class="list-content">Nombre Inscrits au site
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--col-->
                                    <div class="col-lg-3 col-md-6 mb-30">
                                        <div class="list bg-white border1">
                                            <div class="list-item">
                                                <div class="list-thumb avatar bg-danger  rounded avatar50">
                                                    <i class="fa fa-file"></i>
                                                </div>
                                                <div class="list-body text-right">
                                                    <span class="list-title fs-1x">
                                                        <a href="{% url 'admin:console_admin'%}">
                                                            {{ quotation_count}} Devis
                                                        </a>
                                                    </span>
                                                    <span class="list-content">
                                                        <span class="fs12 d-block text-danger pt-8">
                                                            <i class="fa fa-arrow-right"></i>
                                                            <b>{{total_quotation}}</b></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--col-->
                                    <div class="col-lg-3 col-md-6 mb-30">
                                        <div class="list bg-white border1">
                                            <div class="list-item">
                                                <div class="list-thumb avatar si-colored-twitter  rounded avatar50">
                                                    <i class="fa fa-shopping-basket"></i>
                                                </div>
                                                <div class="list-body text-right">
                                                    <span class="list-title fs-1x">
                                                        <a href="{% url 'admin:console_admin'%}">
                                                            {{ order_no_is_paid_count}} Bon{{order_no_is_paid_count|pluralize}}
                                                            de commande{{order_no_is_paid_count|pluralize}}
                                                        </a>
                                                    </span>
                                                    <span class="list-content">
                                                        <span class="fs12 d-block text-warning  pt-8">
                                                            <i class="fa fa-arrow-right " style="color:#0055ff;">
                                                                <b>{{ total_order_no_is_paid}}</b></i></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 mb-30">
                                        <div class="list bg-white border1">
                                            <div class="list-item">
                                                <div class="list-thumb avatar bg-success  rounded avatar50">
                                                    <i class="fa fa-dollar-sign"></i>
                                                </div>
                                                <div class="list-body text-right">
                                                    <span class="list-title fs-1x">
                                                        <a href="{% url 'admin:console_admin'%}">
                                                            {{ order_is_paid_count}} Facture{{order_is_paid_count|pluralize}}
                                                        </a></span>
                                                    <span class="list-content">
                                                        <span class="fs12 d-block pt-8">
                                                            <i class="fa fa-arrow-right" style="color:#23440b;">
                                                                <b> {{ paid_value}} </b></i></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--col-->
                                </div><!--row-->
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6 col-lg-3">
                                    <div class="btn btn-primary">
                                        <a href="{% url 'console_admin:create_order'%}">
                                            <div class="box bg-cyan text-center">
                                                <h1 class="font-light text-white"><i class="mdi mdi-view-dashboard"></i></h1>
                                                <h6 class="text-white">Ajouter une commande</h6>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title">Derniere Commande, Panier Moyen des commandes : {{ average_order}}</h4>
                                        </div>
                                        <div class="comment-widgets scrollable">
                                            {% render_table orders %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% include 'order/include/js.html' %}
