{% extends "base.html" %}

{% load static %}

{% block content %}

         <div class="bg-parallax fullscreen parallax-overlay"  data-jarallax-video="https://youtu.be/HKYqGAvq0rQ" data-jarallax-original-styles="null">
            <div class="d-flex align-items-center">
                <div class="container">
                    <div class=" row">
                        <div class="col-md-10  mr-auto ml-auto text-center">
                            <div class="hero-text-style1">
                                <h1 class="mt0 mb10 text-white">{{texte_accroche}}</h1>
                                <p class="lead mb20 text-white-gray">
                                    {{texte_accroche_complement}}
                                </p>
                                <a href="#footer" class="btn btn-white-outline btn-rounded">En savoir Plus</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--hero-->

{% endblock content %}
