{% extends "baseadmin.html" %}
{% load render_table from django_tables2 %}
{% load static %}

{% block content %}
    <div class="page-content">
        <div class="container-fluid">
            <div class="row align-items-center mb-30 pt-30">
                <div class="col-md-12 mr-auto ml-auto">
                    <div class="mb-0">
                        <h4>Action rapide, vue generale </h4>

                        <!-- Widget -->
                        <div class="page-content">
                            <div class="container-fluid">

                                <div class="title-sep sep-body mb-30">
                                    <span>Chiffres</span>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-6 mb-30">
                                        <div class="list bg-white border1">
                                            <div class="list-item">
                                                <div class="list-thumb avatar si-colored-facebook  rounded avatar50">
                                                    <i class="fa fa-user-circle"></i>
                                                </div>
                                                <div class="list-body text-right">
                                                    <span class="list-title fs-1x">
                                                        <a href="{% url 'console_admin:list_customer' %}">
                                                            {{ count_customers}} client{{ count_customers|pluralize}}
                                                        </a>
                                                    </span>
                                                    <span class="list-content">Nombre Inscrits au site
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!--col-->

                                </div><!--row-->
                            </div>
                        </div>

                        <!-- ============================================================== -->
                        <!-- Start Page Content -->
                        <!-- ============================================================== -->
                        <div class="row">
                            <!-- Column -->
                            <div class="col-md-6 col-lg-3">
                                <div class="card card-hover">
                                    <a href="{% url 'create-order' %}">
                                    <div class="box bg-cyan text-center">
                                        <h1 class="font-light text-white"><i class="mdi mdi-view-dashboard"></i></h1>
                                        <h6 class="text-white">New Order</h6>
                                    </div>
                                        </a>
                                </div>
                            </div>
                             <!-- Column -->
                            <div class="col-md-6 col-lg-3">
                                <div class="card card-hover">
                                    <div class="box bg-warning text-center">
                                        <h1 class="font-light text-white"><i class="mdi mdi-collage"></i></h1>
                                        <h6 class="text-white">Order Page</h6>
                                    </div>
                                </div>
                            </div>
                            <!-- Column -->
                            <div class="col-md-6 col-lg-3">
                                <div class="card card-hover">
                                    <a href="{% url 'create_auto' %}">
                                    <div class="box bg-success text-center">
                                        <h1 class="font-light text-white"><i class="mdi mdi-chart-areaspline"></i></h1>
                                        <h6 class="text-white">Create Auto</h6>
                                    </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                 <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Latest Orders</h4>

                                    </div>
                                    <div class="comment-widgets scrollable">
                                        {% render_table orders %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                 <!-- card -->
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title m-b-0">Status</h4>
                                        <div class="m-t-20">
                                            <div class="d-flex no-block align-items-center">
                                                <span>100% Total Incomes</span>
                                                <div class="ml-auto">
                                                    <span>{{ total_sales }}</span>
                                                </div>
                                            </div>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="d-flex no-block align-items-center m-t-25">
                                                <span>{{ paid_percent }}% Paid Value</span>
                                                <div class="ml-auto">
                                                    <span>{{ paid_value }}</span>
                                                </div>
                                            </div>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: {{ paid_percent }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="d-flex no-block align-items-center m-t-25">
                                                <span>{{ remain_percent }}% Dept</span>
                                                <div class="ml-auto">
                                                    <span>{{ remaining }}</span>
                                                </div>
                                            </div>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: {{ remain_percent }}%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}