{% extends "baseadmin.html" %}

{% load static %}

{% block content %}
    <div class="page-content">
        <div class="container-fluid">
            <div class="row align-items-center mb-30 pt-30">
                <div class="col-md-12 mr-auto ml-auto">
                    <div class="mb-0">
                        <!-- Etat Clients Documents -->
                          <div class="row">
                            <div class="col-lg-12">
                                <div class="portlet-box portlet-fullHeight mb-30">
                                    <div class="portlet-header bg-light flex-row flex d-flex align-items-center">
                                        <div class="flex d-flex flex-column">
                                            <h3>Liste des Clients ({{ count_customers }})</h3>
                                        </div>

                                    </div>
                                    <br>
                                    <a class="btn btn-primary" href="{% url 'console_admin:create_customer' %}">
                                        <span class="nav-text">
                                            Créer un Client
                                        </span>
                                    </a>
                                    <br>
                                    <br>
                                    <div class="portlet-body no-padding">
                                        <div class="table-responsive">
                                            <table class="table mb-0">
                                                <thead>
                                                    <tr>
                                                        <th><p class="text-center">Code Client<p></th>
                                                        <th>Nom Prenom</th>
                                                        <th>Email</th>
                                                        <th>Derniere Connection</th>
                                                        <th>Accès</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                   {% for customer in customers %}
                                                     <tr>
                                                         <td><p class="text-center">{{ customer.id}}</p></td>
                                                        <td>
                                                             <span>{{ customer.first_name }} {{ customer.last_name }} </span>
                                                        </td>
                                                        <td>
                                                            <span>{{ customer.email }}</span>
                                                        <td>
                                                            <span>{{ customer.last_login }}</span>
                                                        </td>
                                                        <td>

                                                            <a href="{% url 'console_admin:update_customer' customer.id %}" class="btn-icon-o btn-primary radius100 btn-icon-sm mr-2 mb-2">
                                                                <i class="fa fa-file"></i>
                                                            </a>
                                                            <a href="{% url 'console_admin:delete_customer' customer.id %}" class="btn-icon-o btn-danger radius100 btn-icon-sm mr-2 mb-2">
                                                                <i class="fa fa-trash"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                   {%  endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div><!--portlet-->
        </div><!--col-->
    </div>
      <!-- End Etat Clients Documents -->











{% endblock content %}