{% extends "baseadmin.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% block content %}
     <!-- Etat List customers -->
      <div class="row">
        <div class="col-lg-12">
            <div class="portlet-box portlet-fullHeight mb-30">
                <div class="portlet-header bg-light flex-row flex d-flex align-items-center">
                    <div class="flex d-flex flex-column">
                        {% if customer != empty %}
                            <h3>Code Client : <b>{{customer}}</b></h3><br>
                        {%  else %}
                            <h3>Client</h3><br>
                        {% endif %}

                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ account_form|crispy }}<br>
                            <table  border="1">
                                <tr>
                                    <td><h3>Address Client</h3></td>

                                </tr>

                                <tr>
                                    <td >{{ address_form|crispy }}</td>

                                </tr>
                            </table>
                            <br>
                            <input class="btn btn-icon-right btn-primary" type="submit" value="Enregistrer">


                        </form>
                    </div>
                </div>
            </div>
        </div>
      </div>


{% endblock %}