{% extends "baseadmin.html" %}

{% load static %}

{% block content %}
 <!-- Etat List customers -->
      <div class="row">
        <div class="col-lg-12">
            <div class="portlet-box portlet-fullHeight mb-30">
                <div class="portlet-header bg-light flex-row flex d-flex align-items-center">
                    <div class="flex d-flex flex-column">

                        {% if message == None %}
                            <form method="post" action="">
                              {% csrf_token %}
                              <p>Etes vous sur de vouloir supprimer {{ item }} ?</p>
                              <input class="btn btn-icon btn-danger" type="submit" value="Supprimer">
                            </form>
                        {%  else %}
                            <p class="alert-danger">{{ message }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
      </div>
{%  endblock %}