{% extends "baseadmin.html" %}

{% load static %}

{% block content %}
    <div class="page-content">
        <div class="container-fluid">
            <div class="row align-items-center mb-30 pt-30">
                <div class="col-md-12 mr-auto ml-auto">
                    <div class="mb-0">
                        <!-- Etat Clients Documents -->
                          <div class="row">
                            <div class="col-lg-12">
                                <div class="portlet-box portlet-fullHeight mb-30">
                                    <div class="portlet-header bg-light flex-row flex d-flex align-items-center">
                                        <div class="flex d-flex flex-column">
                                            <h3>Liste des Devis</h3>
                                        </div>

                                    </div>
                                    <br>
                                    <a class="btn btn-primary" href="{% url 'cart:cart_detail' %}">
                                        <span class="nav-text">
                                            Créer un Devis
                                        </span>
                                     </a>
                                    <br>
                                <br>
                                    <div class="portlet-body no-padding">

                                        <div class="table-responsive">
                                            <table class="table mb-0">
                                                <thead>
                                                    <tr>
                                                        <th>Date</th>
                                                        <th>Client</th>
                                                        <th>Montant</th>
                                                        <th>Dossier</th>
                                                        <th></th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                   {% for order in orders %}
                                                     <tr>
                                                        <td>
                                                            <span>{{ order.date }}</span>
                                                        </td>
                                                         <td>
                                                            <span>{{ order.users.last_name|lower|capfirst}} {{ order.users.first_name|lower|capfirst}}</span>
                                                        </td>
                                                        <td>
                                                            <span> {{ order.total_price }} €</span>

                                                        </td>
                                                        <td>
                                                            <a href="{% url 'console_admin:viewpdf' order.id %}">
                                                                <span class="badge badge-danger badge-text"><i class="fa fa-file-pdf mr-1"></i> Devis {{ order.type_doc }}{{ order.num_docs }}</span>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a href="{% url 'console_admin:update_order' order.id %}" >
                                                                <span class="badge badge-pink badge-text text-white"><i class="fa fa-adjust mr-1" > Modifier Type </i>
                                                                </span>
                                                            </a>
                                                            <a href="{% url 'console_admin:delete_order' order.id %}">
                                                                <span class="badge badge-danger badge-text"><i class="fa fa-trash mr-1"></i> Supprimer ce devis</span>
                                                            </a>
                                                        </td>

                                                    </tr>
                                                   {%  endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div><!--portlet-->
                            </div><!--col-->
                          <!-- End Etat Clients Documents -->

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}