{% extends "baseadmin.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% block content %}
     <!-- Etat List customers -->
      <div class="row">
        <div class="col-lg-12">
            <div class="portlet-box portlet-fullHeight mb-30">
                <div class="portlet-header bg-light flex-row flex d-flex align-items-center">
                    <div class="flex d-flex flex-column">

                        <h3>Commande : <b>{{ order.type_doc }}-{{ order.id }}</b></h3><br>

                        <span class="h5">{{ order.users.last_name|lower|capfirst}} {{ order.users.first_name|lower|capfirst}}</span>
                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ order_form|crispy }}<br>

                            <br>
                            <input class="btn btn-icon-right btn-primary" type="submit" value="Enregistrer">



                        </form>
                    </div>
                </div>
            </div>
        </div>
      </div>


{% endblock %}