{% extends "baseadmin.html" %}

{% load static %}

{% block content %}
<div class="page-content">
    <div class="container-fluid">
        <div class="row align-items-center mb-30 pt-30">
            <div class="col-md-12 mr-auto ml-auto">
                <div class="mb-0">
                      <div class="row">
                        <div class="col-lg-12">
                            <div class="portlet-box portlet-fullHeight mb-30">
                                <div class="portlet-header bg-light flex-row flex d-flex align-items-center">
                                    <div class="flex d-flex flex-column">
                                        <h3>Liste des paramètres </h3>
                                    </div>

                                </div>
                                <br>
                                <a class="btn btn-primary" href="{% url 'console_admin:create_parameters' %}">
                                    <span class="nav-text">
                                         Créer un parametre
                                    </span>
                                </a>
                                <br>
                                <br>

                                <div class="portlet-body no-padding">

                                    <div class="table-responsive">
                                        <table class="table mb-0">
                                            <thead>
                                                <tr>
                                                    <th>Clés</th>
                                                    <th>Description</th>
                                                    <th>Caracteres</th>
                                                    <th>Texte</th>
                                                    <th>Décimale</th>
                                                    <th>Entier</th>
                                                    <th>Booleen</th>
                                                    <th>Image</th>
                                                    <th>Accès</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                               {% for param in params %}
                                                 <tr>
                                                    <td>
                                                         {{ param.keyfield}}
                                                    <td>
                                                         {{ param.keydescription }}
                                                    </td>
                                                    <td>
                                                         {{ param.charfield }}
                                                    </td>
                                                     <td>
                                                         {{ param.textfield }}
                                                    </td>
                                                     <td>
                                                         {{ param.decimalfield }}
                                                    </td>
                                                     <td>
                                                         {{ param.intergerfield }}
                                                    </td>
                                                     <td>
                                                         {{ param.booleanfield  }}
                                                    </td>
                                                    <td>
                                                        {% if param.imagefield != ''  %}
                                                            <span><img src="{{ param.imagefield.url }}"  width="300" alt=""></span>
                                                        {% endif %}
                                                    </td>
                                                    <td>

                                                        <a href="{% url 'console_admin:update_parameters' param.id %}" class="btn-icon-o btn-primary radius100 btn-icon-sm mr-2 mb-2">
                                                            <i class="fa fa-file"></i>
                                                        </a>
                                                        {% if param.reserved_admin is False %}
                                                            <a href="{% url 'console_admin:delete_parameters' param.id %}" class="btn-icon-o btn-danger radius100 btn-icon-sm mr-2 mb-2">
                                                                <i class="fa fa-trash"></i>
                                                            </a>
                                                        {% endif %}

                                                    </td>
                                                </tr>

                                               {%  endfor %}

                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
            </div><!--portlet-->
        </div><!--col-->
    </div>
</div>

{% endblock content %}