{% extends "baseadmin.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
     <!-- Etat List customers -->
      <div class="row">
        <div class="col-lg-12">
            <div class="portlet-box portlet-fullHeight mb-30">
                <div class="portlet-header bg-light flex-row flex d-flex align-items-center">
                    <div class="flex d-flex flex-column">
                        <h3>Parametres</h3><br>
                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ param_form|crispy }}<br>

                            <input class="btn btn-icon-right btn-primary" type="submit" value="Enregistrer">

                        </form>
                    </div>
                </div>
            </div>
        </div>
      </div>


{% endblock %}