{% extends "baseadmin.html" %}

{% load static %}

{% block content %}
<div class="page-content">
    <div class="container-fluid">
        <div class="row align-items-center mb-30 pt-30">
            <div class="col-md-12 mr-auto ml-auto">
                <div class="mb-0">
                      <div class="row">
                        <div class="col-lg-12">
                            <div class="portlet-box portlet-fullHeight mb-30">
                                <div class="portlet-header bg-light flex-row flex d-flex align-items-center">
                                    <div class="flex d-flex flex-column">
                                        <h3>Liste des images </h3>
                                    </div>

                                </div>
                                <br>
                                <a class="btn btn-primary" href="{% url 'console_admin:create_portfolio' %}">
                                    <span class="nav-text">
                                        Créer une image Avant Apres
                                    </span>
                                </a>
                                <br>
                                <br>
                                <div class="portlet-body no-padding">

                                    <div class="table-responsive">
                                        <table class="table mb-0">
                                            <thead>
                                                <tr>
                                                    <th>Nom</th>
                                                    <th>Créé le</th>
                                                    <th>Avant</th>
                                                    <th>Après</th>
                                                    <th>Accès</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                               {% for portfolio in portfolios %}
                                                 <tr>
                                                    <td>
                                                        <span>{{ portfolio.id }} - {{ portfolio.title }}</span>
                                                    </td>
                                                    <td>
                                                        <span>{{ portfolio.date_lastupdate }} </span>
                                                    </td>
                                                    <td>
                                                        <span><img src=" {{ portfolio.img_before.url }}"  height="50" width="50" alt=""></span>
                                                    <td>
                                                        <span><img src=" {{ portfolio.img_after.url }}"  height="50" width="50" alt=""></span>
                                                    </td>
                                                    <td>

                                                        <a href="{% url 'console_admin:update_portfolio' portfolio.id %}" class="btn-icon-o btn-primary radius100 btn-icon-sm mr-2 mb-2">
                                                            <i class="fa fa-file"></i>
                                                        </a>
                                                        <a href="{% url 'console_admin:delete_portfolio' portfolio.id %}" class="btn-icon-o btn-danger radius100 btn-icon-sm mr-2 mb-2">
                                                            <i class="fa fa-trash"></i>
                                                        </a>

                                                    </td>
                                                </tr>

                                               {%  endfor %}

                                            </tbody>
                                        </table>


                                        {% for ligaddress in customers.address_set.all %}
                                            Nom : {{ ligaddress.name }}<br>
                                            {{ ligaddress.address }}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </div><!--portlet-->
    </div><!--col-->
</div>
{% endblock content %}