{% load render_table from django_tables2 %}
<h5 class="card-title">Order Detail</h5>

<div class="table-responsive">
    {% render_table order_items %}
</div>
<div class="col-md-12">
    <div class="pull-right m-t-30 text-right">
        <p>Value: {{ instance.tag_value }}</p>
        <p>Discount  : {{ instance.tag_discount }} </p>
        <hr>
        <h3><b>Total :</b> {{ instance.tag_final_value }}</h3>
    </div>
    <div class="clearfix"></div>
    <hr>
    <div class="text-right">
        {% if instance.is_paid != True %}
            <a href="{% url 'console_admin:done_order' instance.id %}" class="btn btn-success" type="submit"> Done </a>
        {% endif %}
    </div>
</div>
