{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="page-breadcrumb title-space-lg bg-parallax parallax-overlay" data-jarallax='{"speed": 0.2}' style='background-image: url("{% static 'images/bg2.jpg' %}")'>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'portfolio:all' %}">Retour</a></li>
                        <li class="breadcrumb-item">Portfolio Detail</li>
                    </ol>
                    <h1>{{ portfolios.title }}</h1>
                </div>
            </div>
        </div>
    </div><!--page title end-->

    <div class="container pt100 pb60">
        <div class="pt40">

                <div class="cbp-item web-design logos identity graphic">
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title portfolio-title">
                                    {{ portfolios.title }}
                                 </div>

                            </div>
                        </div>
                    </div>

                    <div class="cbp-caption-defaultWrap">
                        <div class="images-work mt-2">
                            <div class="before m-3 ">
                                Avant
                                <img class="img-fluid card-img rounded mt-2" src=" {{ portfolios.img_before.url }}"  height="30%" width="30%" alt="">
                            </div>
                            <div class="after m-3">
                                 Après
                                <img class="img-fluid card-img rounded mt-2" src="{{ portfolios.img_after.url }}"  height="30%" width="30%"  alt="">
                            </div>
                        </div>
                        <h3>Descriptions</h3>
                        <h4>{{ portfolios.description }}<h4>
                    </div>

                </div>

         </div>
      </div>


{% endblock content %}
