{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="page-breadcrumb title-space-lg bg-parallax parallax-overlay" data-jarallax='{"speed": 0.2}' style='background-image: url("{% static 'images/bg2.jpg' %}")'>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Accueil</a></li>
                        <li class="breadcrumb-item">Portfolio</li>
                    </ol>
                </div>
            </div>
        </div>
    </div><!--page title end-->

    <div class="container pt100 pb60">
        <div class="pt40">
            {% for portfolio in portfolios %}
                <div class="cbp-item web-design logos identity graphic">
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignLeft">
                            <div class="cbp-l-caption-body">
                                <div class="cbp-l-caption-title portfolio-title">
                                    {{ portfolio.title }}
                                 </div>
                            {% if portfolio.description != '' %}

                            <a href="{% url 'portfolio:detail' portfolio.id %}" >

                                <div class="text-md-right portfolio-descriptions ">
                                Voir le descriptif
                                </div>
                            </a>

                    {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="cbp-caption-defaultWrap">
                        <div class="images-work mt-2">
                            <div class="before m-3 ">
                                Avant
                                <img class="img-fluid card-img rounded mt-2" src=" {{ portfolio.img_before.url }}"  height="30%" width="30%" alt="">
                            </div>
                            <div class="after m-3">
                                 Après
                                <img class="img-fluid card-img rounded mt-2" src="{{ portfolio.img_after.url }}"  height="30%" width="30%"  alt="">
                            </div>
                        </div>
                    </div>

                </div>
            {% endfor %}
         </div>
      </div>

{% endblock content %}
