{% extends "baseadmin.html" %}
{% load render_table from django_tables2 %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="portlet-box portlet-fullHeight mb-30">
                <div class="portlet-header bg-light flex-row flex d-flex align-items-center">
                    <div class="flex d-flex flex-column">
                        <div class="page-wrapper">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h1>
                                            {% if instance.quotation == True %}
                                                Devis
                                            {% elif instance.is_paid == True %}
                                                Facture
                                            {% else %}
                                                Bon de commande
                                            {% endif %}
                                            {{ instance }}
                                        </h1>
                                        <h6 class="page-title">
                                            Client : {{ instance.customer.last_name }} {{ instance.customer.first_name }}
                                            <br> Date : {{ instance.created_at }}
                                            <br> Promotion : {{ instance.discount }} € <br>
                                            <a href="{% url "console_admin:update_order_header" instance.id %}" class="btn btn-primary"> Changer l'etat de la commande</a>
                                            {% if instance.is_paid != True  %}
                                                <a onclick="return confirm('Etes vous sur?')" href="{% url 'console_admin:delete_order' instance.id %}" class="btn btn-danger">Delete</a>
                                            {% endif %}
                                        </h6>
                                        <div class="card">
                                            <div id='order_item_container' class="card-body">
                                                {% include 'order/include/order_container.html' %}
                                            </div>
                                        </div>
                                    </div>
                                    {% if instance.is_paid != True  %}
                                        <div class="col-md-6">
                                            <br><br><br><br><br><br><br>
                                            <div class="card">
                                                <div class="header">
                                                    <h5 class="card-title">Listes des produits du stock</h5>
                                                </div>
                                                <div class="card-body" id="product_container">
                                                    {% include 'order/include/product_container.html' %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
