{% extends "baseadmin.html" %}
{% load render_table from django_tables2 %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
      <div class="row">
        <div class="col-lg-12">
            <div class="portlet-box portlet-fullHeight mb-30">
                  <div class="portlet-header bg-light flex-row flex d-flex align-items-center">
                    <div class="flex d-flex flex-column">
                        <div class="page-wrapper">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-6">
                                         <h1>
                                             {% if instance.quotation == True %}
                                                   Devis
                                               {% elif instance.is_paid == True %}
                                                  Facture
                                               {% else %}
                                                    Bons de commande
                                               {% endif %}
                                              {{ instance }}
                                         </h1>
                                           <h6 class="page-title">
                                                Client : {{ instance.customer.last_name }} {{ instance.customer.first_name }}
                                            <br> Date : {{ instance.created_at }}

                                         </h6>
                                        <div class="card">
                                            <div>Modification Entete commande</div>
                                            <div class="card-body">
                                                <form method="post" class="form">{% csrf_token %}
                                                    {{ form }}
                                                    <br>
                                                    <button type="submit" class="btn btn-success">Enregistrer</button>
                                                </form>
                                            </div>
                                        </div>


                                    </div>


                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
      </div>
{% endblock %}
