{% extends "baseadmin.html" %}
{% load render_table from django_tables2 %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
      <div class="row">
        <div class="col-lg-12">
            <div class="portlet-box portlet-fullHeight mb-30">
                <p class="text-md-left"><h1>Categorie</h1>
                <h4 class="page-title">{{ instance }}</h4></p>
                  <div class="portlet-header bg-light flex-row flex d-flex align-items-center">
                    <div class="flex d-flex flex-column">
                        <div class="page-wrapper">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="header">Edit</div>
                                        <div class="card-body">
                                            <form method="post" class="form">{% csrf_token %}
                                                {{ form }}
                                                <br>
                                                <button type="submit" class="btn btn-success">Save</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
      </div>



{% endblock %}

