{% extends "baseadmin.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% block content %}
     <!-- Etat List customers -->
      <div class="row">
        <div class="col-lg-12">
            <div class="portlet-box portlet-fullHeight mb-30">
                <p class="text-md-left"><h1>Produit</h1></p>
                  <div class="portlet-header bg-light flex-row flex d-flex align-items-center">
                    <div class="flex d-flex flex-column">
                        <div class="portlet-body">
                             <form method="post" class="form-horizontal"> {% csrf_token %}
                                    <div class="card-body">
                                        {{ form }}
                                    </div>
                                    <div class="border-top">
                                        <div class="card-body">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                             </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>

{% endblock %}