{% extends "baseadmin.html" %}
{% load render_table from django_tables2 %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="page-content">
        <div class="container-fluid">
            <div class="row align-items-center mb-30 pt-30">
                <div class="col-md-12 mr-auto ml-auto">
                    <div class="mb-0">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="portlet-box portlet-fullHeight mb-30">
                                    <div class="portlet-header bg-light flex-row flex d-flex align-items-center">
                                        <div class="flex d-flex flex-column">
                                            <h3>Liste des Produits </h3>
                                        </div>
                                    </div>
                                    <br>
                                    <a class="btn btn-primary" href="{% url 'console_admin:product_create' %}">
                                        <span class="nav-text">
                                            Créer un produit
                                        </span>
                                    </a>
                                    <br>
                                    <br>
                                    <div class="portlet-body no-padding">
                                        <div class="table-responsive">
                                            <div class="comment-widgets scrollable">
                                                {% render_table product %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--portlet-->
        </div><!--col-->
    </div>
{% endblock content %}