{% extends "base.html" %}

{% load static %}

{% block content %}

 <div class="page-breadcrumb title-space-lg bg-parallax parallax-overlay" data-jarallax='{"speed": 0.2}' style='background-image: url("{% static 'images/bg2.jpg' %}")'>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Accueil</a></li>
                    <li class="breadcrumb-item">Mon espace</li>
                </ol>
            </div>
        </div>
    </div>
</div><!--page title end-->

<div class="container pt90 pb60">
    <!--  # Navigation-->
    {% if msgaddress != 'ok' %}
        <p class="alert-danger text-left"> {{msgaddress}}
            <a href="{% url 'authentication:information' %}"  class="btn btn-border0 btn-outline-danger ">
                  Ajouter une adresse
            </a>
        </p>
    {% endif %}

    <h3 class=" text-center mb30">Mon espace</h3>
    <p class="text-left">Bienvenue, {{ customer.last_name}}</p>
    <br><br>

     {% if msgaddress == 'ok' %}
        <a href="{% url 'authentication:information' %}" class="btn btn-primary mb-2 ">
            <i class="icon-Folder-Open"> </i>
            Modifier mes informations
         </a>
     {% endif %}<br><br>

    <!-- Etat List docs -->
     <div class="flex d-flex flex-column">
        <h4>Liste de vos documents</h4>
     </div>

    <div class="portlet-body no-padding">

        <div class="table-responsive">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th>Document</th>
                        <th>Edité le</th>
                        <th>voir</th>

                    </tr>
                </thead>
                <tbody>
                   <tr>
                        <td></td>
                       <td></td>
                       <td><a href="" class="btn-icon-o btn-primary radius100 btn-icon-sm mr-2 mb-2">
                            <i class="fa fa-file"></i>
                            </a>
                       </td>
                   </tr>
                </tbody>
            </table>

        </div>
    </div>





</div>

{% endblock content %}