{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
     <div class="page-breadcrumb title-space-lg bg-parallax parallax-overlay" data-jarallax='{"speed": 0.2}' style='background-image: url("{% static 'images/bg2.jpg' %}")'>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'authentication:account' %}">Mon espace</a></li>
                        <li class="breadcrumb-item">Mes informations</li>
                    </ol>
                </div>
            </div>
        </div>
     </div><!--page title end-->


    <!-- Etat List customers -->

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <br>
                    <h3 class=" text-center mb30">Mes informations</h3>
                    {% if customer != empty %}
                        <h5>Code Client : <b>{{ customer}}</b></h5><br>
                    {%  else %}
                        <h5>Client</h5><br>
                    {% endif %}

                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ account_form|crispy }}<br>


                      <div class="table-responsive">
                        <table class="table mb-0">
                            <tr>
                                <td width=40%><h3>Address client</h3></td>

                            </tr>

                            <tr>
                                <td width=40%>{{ address_form|crispy }}</td>

                            </tr>
                        </table>
                        <br>
                        <input class="btn btn-icon-right btn-primary" type="submit" value="Enregistrer">
                      </div>

                    </form>
                </div>
            </div>
        </div>



{% endblock %}