{% extends "base.html" %}

{% block content %}

{% load static %}
{% load crispy_forms_tags %}

<div class="page-breadcrumb title-space-lg bg-parallax parallax-overlay" data-jarallax='{"speed": 0.2}' style='background-image: url("{% static 'images/bg2.jpg' %}")'>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                    <li class="breadcrumb-item">Se Logguer</li>
                </ol>
                <h1>Login</h1>
            </div>
        </div>
    </div>
</div><!--page title end-->

    <div class="container pt90 pb60">
        <div class="row pb30">
            <div class="col-lg-4 col-md-6 col-sm-8 mr-auto ml-auto">
                <h3 class=" text-center mb30">Inscrivez vous</h3>
                <div class="input-group col-12">
                    <form method="post">
                        {% csrf_token %}
                        {{ user_form }}
                        {{ form_address }}
                        {% for field in form %}
                        <p>
                            {{ field.label_tag }}<br>
                            {{ field }}
                            {% if field.help_text %}
                                <small class="text-info">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <div class="alert alert-warning">{{ error }}</div>
                            {% endfor %}
                        </p>
                        {% endfor %}
                        <button type="submit">Enregistrer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock content %}
