{% extends "base.html" %}

{% block content %}

{% load static %}

<div class="page-breadcrumb title-space-lg bg-parallax parallax-overlay" data-jarallax='{"speed": 0.2}' style='background-image: url("{% static 'images/bg2.jpg' %}")'>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                    <li class="breadcrumb-item">Se Logguer</li>
                </ol>
                <h1>Login</h1>
            </div>
        </div>
    </div>
</div><!--page title end-->

<div class="container pt90 pb60">
    <div class="row pb30">
        <div class="col-lg-4 col-md-6 col-sm-8 mr-auto ml-auto">
            <h3 class=" text-center mb30">Connectez vous</h3>
             <form method="post">
                {% csrf_token %}

                 {% for field in form %}

                    <p class="form-group">
                        {{ field.label }}</p>
                    <p class="form-group">
                        {{ field }}
                    </p>
                    {% if field.help_text %}
                        <small class="form-group">{{ field.help_text }}</small>
                    {% endif %}
                {% endfor %}
                {% if form.errors %}
                  <div class="alert alert-warning">{{ form.non_field_errors }}</div>
                {% endif %}

                <div class="form-group">
                      <button type="submit" class="btn btn-rounded btn-primary btn-block">Se logguer</button>
                </div>
                <div class="text-center"><a href="#" class="btn btn-link btn-block">Mot de passe perdu?</a></div>
                <hr>
                <div>
                    <a href="{% url 'authentication:register' %}" class="btn btn-dark btn-rounded btn-block">Créer un compte</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}
