<!-- account_activation_email.html -->

{% autoescape off %}
Bonjour {{ account.first_name }},

<h1>Bienvenue sur le site Sandrine Chevalier</h1>
  <p>Votre compte a bien été créé</p>
  <p>Login : {{ account.email }}</p>
  <p>Mot de passe temporaire : <b>{{ passwd}}</b> </p>
  <p>Par sécurité, veuillez changer votre mot de passe temporaire en cliquant sur le lien suivant  : </p>
  <p>  ou depuis votre espace client </p>

    <p> A tres bientôt,</p>
    <p>Sandrine</p>
{% endautoescape %}
