
<html>
<body>
  <img src="{{logo.path}}" height="100px">
  <p>
    {% if order.type_doc == 'BC' %}
        <span class="badge badge-primary badge-text text-white"><i class="fa fa-check mr-1" ></i><h1>Bon de Commande</h1> {{ order.type_doc }}{{ order.num_docs }}</span>
    {% elif order.type_doc == 'DE' %}
        <span class="badge badge-danger badge-text"><i class="fa fa-times mr-1"></i><h1>Devis</h1> {{ order.type_doc }}{{ order.num_docs }}</span>
    {% else %}
        <span class="badge badge-success badge-text text-dark"><i class="fa fa-dollar-sign"></i></i><h1> Factures</h1> {{ order.type_doc }}{{ order.num_docs }}</span>
    {% endif %}
    </p>
    </br>
    <hr>
    <span class="secondary">
      {{ order.created|date:"M d, Y" }}
    </span>
  </p>
  <h3>Adresse de facturation</h3>
  <p>
    {{ order.users.first_name }} {{ order.users.last_name }}<br>
    {{ order.users.email }}<br>
    {{ order.users.address }}<br>
    {{ order.users.postal_code }}, {{ order.users.city }}
  </p>
  <h3>Liste des produits</h3>


  <table border="1">
    <thead>
      <tr>
        <th class="text-left">Product</th>
        <th class="text-left">Price</th>
        <th class="text-left">Quantity</th>
        <th class="text-left">Cost</th>
      </tr>
    </thead>
    <tbody>
      {% for item in order.items.all %}
        <tr class="row{% cycle "1" "2" %}">
          <td>{{ item.product.name }}</td>
          <td class="text-left">{{ item.price }} €</td>
          <td class="text-left">{{ item.quantity }}</td>
          <td class="text-left">{{ item.get_cost }} €</td>
        </tr>
      {% endfor %}
      <tr class="total">
        <td colspan="3">Total</td>
        <td class="text-left">{{ order.get_total_cost }} €</td>
      </tr>
    </tbody>
  </table>
</body>
</html>
