/*
Assan main style file
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Prata");
@font-face {
  font-family: 'FontAwesome';
  src: url("../bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../bower_components/font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/**et line icons**/
@font-face {
  font-family: 'et-line';
  src: url("../et-line-font/fonts/et-line.eot");
  src: url("../et-line-font/fonts/et-line.eot?#iefix") format("embedded-opentype"), url("../et-line-font/fonts/et-line.woff") format("woff"), url("../et-line-font/fonts/et-line.ttf") format("truetype"), url("../et-line-font/fonts/et-line.svg#et-line") format("svg");
  font-weight: normal;
  font-style: normal; }

/*themify icons*/
@font-face {
  font-family: 'themify';
  src: url("../bower_components/themify-icons/fonts/themify.eot");
  src: url("../bower_components/themify-icons/fonts/themify.eot?#iefix") format("embedded-opentype"), url("../bower_components/themify-icons/fonts/themify.woff") format("woff"), url("../bower_components/themify-icons/fonts/themify.ttf") format("truetype"), url("../bower_components/themify-icons/fonts/themify.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/*
Basic of template
*/
html, body, .fullScreen {
  height: 100%; }

body {
  font-size: 14px;
  font-weight: 300;
  color: #aeaeae;
  line-height: 1.6;
  letter-spacing: 0em;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  background-color: #212121; }

button, input, optgroup, select, textarea {
  font-family: "Open Sans", sans-serif; }

button:focus {
  outline: 0 !important; }

a, .simple-hover img, button, .btn {
  transition: all 0.3s;
  -webkit-transition: all 0.3s; }

a {
  color: #1499de;
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: none;
    outline: 0 !important;
    color: #666; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.1;
  color: #fff; }

.display-1, .display-2, .display-3, .display-4, .lead {
  font-weight: 300; }

.h1, h1 {
  font-size: 2.5rem; }

.h2, h2 {
  font-size: 2rem; }

.h3, h3 {
  font-size: 1.75rem; }

.h4, h4 {
  font-size: 1.2rem; }

.h5, h5 {
  font-size: 1rem; }

.h6, h6 {
  font-size: .8rem; }

.lead {
  font-size: 1.25rem; }

.display-1 {
  font-size: 6rem; }

.display-2 {
  font-size: 5.5rem; }

.display-3 {
  font-size: 4.5rem; }

.display-4 {
  font-size: 3.5rem; }

hr {
  margin-top: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

.small, small {
  font-size: 80%;
  font-weight: 400; }

ul, ol {
  margin: 0 0 1.5em 0; }

.tritary-font {
  font-family: "Prata", serif;
  font-weight: 400; }

.base-font {
  font-family: "Open Sans", sans-serif;
  font-weight: 300; }

.font300 {
  font-weight: 300 !important; }

.font400 {
  font-weight: 400 !important; }

.font500 {
  font-weight: 600 !important; }

.font700 {
  font-weight: 700 !important; }

.font900 {
  font-weight: 900 !important; }

.label {
  display: inline-block;
  padding: 1px 7px;
  border-radius: 2px;
  font-size: 10px; }

.bg-faded {
  background: #313131; }

.badge-primary {
  background: #1499de !important; }

.bg-primary {
  background: #1499de !important;
  border-color: #1499de; }

.bg-success {
  background: #5cb85c !important;
  border-color: #5cb85c; }

.bg-warning {
  background: #f0ad4e;
  border-color: #f0ad4e; }

.bg-info {
  background-color: #5bc0de;
  border-color: #5bc0de; }

.bg-danger {
  background-color: #c9302c;
  border-color: #c9302c; }

.bg-dark {
  border-color: #333;
  background-color: #333; }

.bg-white {
  background: #232323 !important; }

.text-primary {
  color: #1499de !important; }

.text-danger {
  color: #c9302c !important; }

.text-success {
  color: #5cb85c !important; }

.text-warning {
  color: #f0ad4e !important; }

.text-info {
  color: #5bc0de !important; }

.text-white {
  color: white !important; }

.text-dark {
  color: #222222 !important; }

.text-white-gray {
  color: rgba(255, 255, 255, 0.8) !important; }

.border-round {
  border-radius: 6px;
  -webkit-border-radius: 6px; }

.pos-relative {
  position: relative; }

.lead {
  font-weight: 300; }

strong, b {
  font-weight: 700; }

.fWidth {
  width: 100% !important; }

.oHidden {
  overflow: hidden !important; }

strong, b {
  font-weight: 700; }

.mr0 {
  margin-right: 0px !important; }

.pt0 {
  padding-top: 0 !important; }

.pt10 {
  padding-top: 10px !important; }

.pt20 {
  padding-top: 20px !important; }

.pt30 {
  padding-top: 30px !important; }

.pt40 {
  padding-top: 40px !important; }

.pt50 {
  padding-top: 50px !important; }

.pt60 {
  padding-top: 60px !important; }

.pt70 {
  padding-top: 70px !important; }

.pt80 {
  padding-top: 80px !important; }

.pt90 {
  padding-top: 90px !important; }

.pt100 {
  padding-top: 100px !important; }

.pb0 {
  padding-bottom: 0 !important; }

.pb10 {
  padding-bottom: 10px !important; }

.pb15 {
  padding-bottom: 15px !important; }

.pb20 {
  padding-bottom: 20px !important; }

.pb30 {
  padding-bottom: 30px !important; }

.pb40 {
  padding-bottom: 40px !important; }

.pb50 {
  padding-bottom: 50px !important; }

.pb60 {
  padding-bottom: 60px !important; }

.pb70 {
  padding-bottom: 70px !important; }

.pb80 {
  padding-bottom: 80px !important; }

.pb90 {
  padding-bottom: 90px !important; }

.pb100 {
  padding-bottom: 100px !important; }

.mb0 {
  margin-bottom: 0 !important; }

.mb5 {
  margin-bottom: 5px !important; }

.mb10 {
  margin-bottom: 10px !important; }

.mb20 {
  margin-bottom: 20px !important; }

.mb30 {
  margin-bottom: 30px !important; }

.mb40 {
  margin-bottom: 40px !important; }

.mb50 {
  margin-bottom: 50px !important; }

.mb60 {
  margin-bottom: 60px !important; }

.mb70 {
  margin-bottom: 70px !important; }

.mb80 {
  margin-bottom: 80px !important; }

.mb90 {
  margin-bottom: 90px !important; }

.mb100 {
  margin-bottom: 100px !important; }

.mt5 {
  margin-top: 5px !important; }

.bg-default {
  background-color: #f7f7f7 !important; }

.bg-gray {
  background-color: #fbfbfb; }

.pd-card {
  padding: 40px 20px; }

.border0-hor {
  border-left: 0 !important;
  border-right: 0 !important; }

.back-to-top {
  position: fixed;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  bottom: 10px;
  right: 10px;
  background: #000;
  color: #1499de;
  line-height: 50px;
  opacity: 0;
  visibility: hidden;
  z-index: 9;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  -moz-transition: -moz-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transform: translate3d(0, 15px, 0);
  -webkit-transform: translate3d(0, 15px, 0); }
  .back-to-top i {
    display: block;
    font-size: 25px;
    line-height: 50px;
    text-align: center; }
  .back-to-top:hover {
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.2);
    color: #fff; }
  .back-to-top.show {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0px, 0);
    -webkit-transform: translate3d(0, 0px, 0); }

/**preloader**/
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out; }

.no-margin {
  margin: 0 !important; }

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important; }

@media (min-width: 992px) {
  .table-responsive {
    display: table; } }

.bg-parallax {
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-attachment: fixed; }
  .bg-parallax.parallax-overlay:before {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1; }

/*****

Form controls

******/
.form-control, input[type="text"], input[type="email"], input[type="phone"], input[type="password"], textarea {
  min-height: 45px;
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  font-size: 13px;
  width : 300px;
  color : white;}
  .form-control:hover, .form-control:focus, .form-control:active, input[type="text"]:hover, input[type="text"]:focus, input[type="text"]:active, input[type="email"]:hover, input[type="email"]:focus, input[type="email"]:active, input[type="phone"]:hover, input[type="phone"]:focus, input[type="phone"]:active, input[type="password"]:hover, input[type="password"]:focus, input[type="password"]:active, textarea:hover, textarea:focus, textarea:active {
    background-color: #212121;
    color: #fff; }

.center-title {
  position: relative;
  padding-bottom: 20px; }
  .center-title:before, .center-title:after {
    position: absolute;
    bottom: 0px; }
  .center-title:after {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #1499de;
    left: 50%;
    margin-left: -4px; }
  .center-title:before {
    content: "";
    width: 80px;
    left: 50%;
    margin-left: -40px;
    height: 1px;
    background-color: #aeaeae;
    bottom: 3px; }
  .center-title h3 {
    color: #1499de;
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 300;
    letter-spacing: 0px; }

.list-icon li {
  position: relative;
  padding-left: 23px;
  margin-top: 5px;
  display: block;
  font-family: "Open Sans", sans-serif; }

.list-icon li:before {
  content: "\e64c";
  font-family: 'themify';
  position: absolute;
  left: 0;
  top: 0;
  color: #1499de; }

.share-buttons li {
  vertical-align: middle; }
  .share-buttons li:first-child {
    margin-right: 10px; }
  .share-buttons li a {
    margin-right: 0px; }

/*
Preloader style
*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #212121;
  z-index: 99999; }

#preloader-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 5px;
  width: 5em;
  height: 5em;
  margin: -25px 0 0 -25px;
  text-indent: -9999em;
  border-top: 0.5em solid #1499de;
  border-right: 0.5em solid rgba(245, 245, 245, 0.5);
  border-bottom: 0.5em solid rgba(245, 245, 245, 0.5);
  border-left: 0.5em solid rgba(245, 245, 245, 0.5);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear; }

#preloader-inner,
#preloader-inner:after {
  border-radius: 50%;
  width: 10em;
  height: 10em; }

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/*
Page breadcrumbs
*/
.page-breadcrumb.title-space-lg {
  padding-top: 15rem;
  padding-bottom: 2rem; }

.page-breadcrumb h1 {
  color: #fff;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.5rem; }

.page-breadcrumb .breadcrumb {
  background-color: transparent;
  padding: 0px;
  margin-bottom: 10px; }
  .page-breadcrumb .breadcrumb li {
    color: #fff;
    font-size: 12px; }

/*
Buttons
*/
.form-control-lg, .input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn {
  font-size: .8rem; }

.btn {
  overflow: hidden;
  position: relative;
  z-index: 1;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 0rem;
  font-size: .85rem;
  font-family: "Open Sans", sans-serif;
  padding: 13px 30px 13px !important;
  text-transform: capitalize; }
  .btn i {
    display: inline-block;
    margin-right: 8px; }
  .btn.btn-rounded {
    border-radius: 100px; }
  .btn:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: all .3s; }
  .btn:hover, .btn:focus {
    box-shadow: none;
    outline: 0 !important; }
    .btn:hover:before, .btn:focus:before {
      transition: all .3s;
      z-index: -1; }
  .btn.btn-link {
    border: 0px;
    padding: 0px !important; }
  .btn.btn-sm {
    padding: 9px 20px 9px !important;
    font-size: .8rem; }
  .btn.btn-lg {
    padding: 14px 40px 14px !important;
    font-size: .95rem; }
  .btn.btn-link {
    color: #1499de;
    text-transform: capitalize; }
    .btn.btn-link:after {
      font-family: 'FontAwesome';
      content: "\f101";
      margin-left: 5px;
      font-size: 12px; }
    .btn.btn-link:hover {
      text-decoration: none;
      color: #999; }

.btn-white {
  background-color: #fff;
  color: #333; }

.btn-white-outline {
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff; }
  .btn-white-outline:hover, .btn-white-outline:focus {
    color: #333;
    border-color: #fff; }
    .btn-white-outline:hover:before, .btn-white-outline:focus:before {
      width: 100%;
      background-color: #fff; }

.btn-outline-primary {
  border: 2px solid #1499de;
  background-color: transparent;
  color: #1499de; }
  .btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
    color: #fff;
    border-color: #1499de;
    background-color: transparent; }
    .btn-outline-primary:hover:before, .btn-outline-primary:focus:before, .btn-outline-primary:active:before {
      width: 100%;
      background-color: #1499de; }

.btn-outline-info {
  border: 2px solid #5bc0de;
  background-color: transparent;
  color: #5bc0de; }
  .btn-outline-info:hover, .btn-outline-info:focus, .btn-outline-info:active {
    color: #fff;
    border-color: #5bc0de;
    background-color: transparent; }
    .btn-outline-info:hover:before, .btn-outline-info:focus:before, .btn-outline-info:active:before {
      width: 100%;
      background-color: #5bc0de; }

.btn-outline-success {
  border: 2px solid #5cb85c;
  background-color: transparent;
  color: #5cb85c; }
  .btn-outline-success:hover, .btn-outline-success:focus, .btn-outline-success:active {
    color: #fff;
    border-color: #5cb85c;
    background-color: transparent; }
    .btn-outline-success:hover:before, .btn-outline-success:focus:before, .btn-outline-success:active:before {
      width: 100%;
      background-color: #5cb85c; }

.btn-outline-danger {
  border: 2px solid #c9302c;
  background-color: transparent;
  color: #c9302c; }
  .btn-outline-danger:hover, .btn-outline-danger:focus, .btn-outline-danger:active {
    color: #fff;
    border-color: #c9302c;
    background-color: transparent; }
    .btn-outline-danger:hover:before, .btn-outline-danger:focus:before, .btn-outline-danger:active:before {
      width: 100%;
      background-color: #c9302c; }

.btn-outline-warning {
  border: 2px solid #f0ad4e;
  background-color: transparent;
  color: #f0ad4e; }
  .btn-outline-warning:hover, .btn-outline-warning:focus, .btn-outline-warning:active {
    color: #fff;
    border-color: #f0ad4e;
    background-color: transparent; }
    .btn-outline-warning:hover:before, .btn-outline-warning:focus:before, .btn-outline-warning:active:before {
      width: 100%;
      background-color: #f0ad4e; }

.btn-outline-secondary {
  border: 2px solid rgba(255, 255, 255, 0.4);
  background-color: transparent;
  color: #fff; }
  .btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary:active {
    color: #fff;
    border-color: black;
    background-color: transparent; }
    .btn-outline-secondary:hover:before, .btn-outline-secondary:focus:before, .btn-outline-secondary:active:before {
      width: 100%;
      background-color: rgba(0, 0, 0, 0.8); }

.input-group-addon {
  color: #aeaeae;
  text-align: center;
  background-color: #212121;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: .25rem; }

/**fill buttons**/
.btn-primary, .btn-success, .btn-warning, .btn-danger, .btn-info, .btn-secondary, .btn-dark {
  box-shadow: 0 0.05em 0.1em rgba(0, 0, 0, 0.18);
  border: 0px; }
  .btn-primary:hover, .btn-success:hover, .btn-warning:hover, .btn-danger:hover, .btn-info:hover, .btn-secondary:hover, .btn-dark:hover {
    border: 0px;
    box-shadow: 0 0.05em 1em rgba(0, 0, 0, 0.18); }

.btn-secondary {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: none; }
  .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
    border: 0px;
    color: #fff;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.3); }

.btn-primary {
  background: #1499de;
  color: #fff; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #1499de;
    color: #fff; }
.btn-red {
  background: #720505;
  color: #fff; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #720505;
    color: #fff; }
.btn-dark {
  background: #222;
  color: #fff; }
  .btn-dark:hover, .btn-dark:focus, .btn-dark:active {
    background: #222;
    color: #fff; }

.btn-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  line-height: 80px;
  text-align: center; }
  .btn-circle i {
    display: block;
    line-height: 80px;
    margin: 0 auto;
    font-size: 35px; }
  .btn-circle .btn-primary i, .btn-circle .btn-success i, .btn-circle .btn-warning i, .btn-circle .btn-danger i, .btn-circle .btn-info i {
    color: #fff; }

.icon-sm-rounded {
  width: 32px;
  height: 32px;
  line-height: 32px;
  display: inline-block !important;
  text-align: center;
  border-radius: 50%;
  background: #1499de;
  color: #fff; }

/****************

SOCIAL BUTTONS

**********************/
/**social icons default size**/
.social-icon {
  margin: 0 5px 5px 0;
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px !important;
  color: #555;
  text-shadow: none;
  border-radius: 3px;
  overflow: hidden;
  display: block;
  float: left;
  text-align: center;
  border: 1px solid #AAA; }

.social-icon:hover {
  border-color: transparent; }

.social-icon i {
  display: block;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 40px;
  position: relative; }

.social-icon i:last-child {
  color: #FFF !important; }

.social-icon:hover i:first-child {
  margin-top: -40px; }

/***social icons lg (big)***/
.social-icon-lg {
  margin: 0 5px 5px 0;
  width: 60px;
  height: 60px;
  font-size: 30px;
  line-height: 60px !important;
  color: #555;
  text-shadow: none;
  border-radius: 3px;
  overflow: hidden;
  display: block;
  float: left;
  text-align: center;
  border: 1px solid #AAA; }

.social-icon-lg:hover {
  border-color: transparent; }

.social-icon-lg i {
  display: block;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 60px;
  position: relative; }

.social-icon-lg i:last-child {
  color: #FFF !important; }

.social-icon-lg:hover i:first-child {
  margin-top: -60px; }

/***social icons small***/
.social-icon-sm {
  margin: 0 5px 5px 0;
  width: 30px;
  height: 30px;
  font-size: 18px;
  line-height: 30px !important;
  color: #555;
  text-shadow: none;
  border-radius: 3px;
  overflow: hidden;
  display: block;
  float: left;
  text-align: center;
  border: 1px solid #AAA; }

.social-icon-sm:hover {
  border-color: transparent; }

.social-icon-sm i {
  display: block;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  line-height: 30px;
  position: relative; }

.social-icon-sm i:last-child {
  color: #FFF !important; }

.social-icon-sm:hover i:first-child {
  margin-top: -30px; }

si-border {
  border: 1px solid #AAA !important; }

.si-border-round {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }

.si-dark-round {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }

.si-gray-round {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; }

.si-gray {
  background: #f3f3f3;
  border: 0px; }

.si-dark {
  background-color: #333;
  border: 0px !important;
  color: #fff !important; }

/**icons hover colored**/
.si-colored-facebook, .si-facebook:hover {
  background-color: #3B5998 !important; }

.si-colored-twitter, .si-twitter:hover {
  background-color: #00ACEE !important; }

.si-colored-google-plus, .si-g-plus:hover {
  background-color: #DD4B39 !important; }

.si-colored-skype, .si-skype:hover {
  background-color: #00AFF0 !important; }

.si-linkedin:hover, .si-colored-linkedin {
  background-color: #0E76A8 !important; }

.si-pin:hover, .si-colored-pinterest {
  background-color: #C8232C !important; }

.si-rss:hover, .si-colored-rss {
  background-color: #EE802F !important; }

.si-pinterest:hover, .si-colored-pinterest {
  background-color: #C8232C !important; }

.si-tumblr:hover, .si-colored-tumblr {
  background-color: #34526F !important; }

.si-vimeo:hover, .si-colored-vimeo {
  background-color: #86C9EF !important; }

.si-digg:hover, .si-colored-digg {
  background-color: #191919 !important; }

.si-instagram:hover, .si-colored-instagram {
  background-color: #3F729B !important; }

.si-flickr:hover, .si-colored-flickr {
  background-color: #FF0084 !important; }

.si-paypal:hover, .si-colored-paypal {
  background-color: #00588B !important; }

.si-yahoo:hover, .si-colored-yahoo {
  background-color: #720E9E !important; }

.si-android:hover, .si-colored-andriod {
  background-color: #A4C639 !important; }

.si-appstore:hover, .si-colored-apple {
  background-color: #000 !important; }

.si-dropbox:hover {
  background-color: #3D9AE8 !important; }

.si-dribbble:hover, .si-colored-dribbble {
  background-color: #EA4C89 !important; }

.si-soundcloud:hover, .si-colored-soundcoloud {
  background-color: #F70 !important; }

.si-xing:hover, .si-colored-xing {
  background-color: #126567 !important; }

.si-phone:hover, .si-colored-phone {
  background-color: #444 !important; }

.si-behance:hover, .si-colored-behance {
  background-color: #053eff !important; }

.si-github:hover, .si-colored-github {
  background-color: #171515 !important; }

.si-stumbleupon:hover, .si-colored-stumbleupon {
  background-color: #F74425 !important; }

.si-email:hover, .si-colored-email {
  background-color: #6567A5 !important; }

.si-wordpress:hover, .si-colored-wordpress {
  background-color: #1E8CBE !important; }

/*
Assan Header Style
*/
.nav-link {
  color: #fff;
  letter-spacing: 0px;
  display: inline-block;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif; }

.nav-item.active .nav-link {
  color: #1499de !important; }

.navbar-dark .navbar-nav .nav-link {
  color: #fff; }

@media (min-width: 992px) {
  .navbar-expand-lg.navbar {
    padding-top: 0px;
    padding-bottom: 0px; }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem; }
  .navbar .navbar-nav .btn.btn-sm {
    position: relative;
    top: 15px; }
  .navbar-transparent.navbar-dark {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: transparent !important; }
    .navbar-transparent.navbar-dark.fixed-top {
      background-color: #000 !important;
      position: fixed;
      animation: fadeInDown 0.3s ease-out forwards;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); } }

/**off canvas pushy**/
.pushy {
  width: 300px;
  background-color: #212121;
  padding: 20px 15px; }
  .pushy h3 {
    color: #aeaeae; }

.pushy-right {
  -webkit-transform: translate3d(300px, 0, 0);
  -ms-transform: translate3d(300px, 0, 0);
  transform: translate3d(300px, 0, 0); }

/*
Dropdown menu styles
*/
.dropdown-menu {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  min-width: 12rem;
  border: 0px;
  background-color: #212121;
  padding: 1rem;
  margin: 0px;
  border-radius: 0px; }

.dropdown-menu .dropdown-item {
  font-weight: 400;
  font-size: .8rem;
  color: #a1b1bc;
  font-family: "Open Sans", sans-serif;
  padding: .6rem 1rem;
  text-transform: capitalize; }
  .dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus {
    background-color: #313131; }

/**mulit level dropdown**/
.dropdown-submenu {
  position: relative; }

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
  margin-left: -1px;
  border-radius: 0px; }

.dropdown-submenu:hover > .dropdown-menu {
  display: block; }

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #f7f7f7;
  margin-top: 6px;
  margin-right: -5px; }

.dropdown-submenu:hover > a:after {
  border-left-color: #ccc; }

.dropdown-submenu.pull-left {
  float: none; }

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  border-radius: 0px; }

@media (min-width: 992px) {
  .dropdown-menu, .dropdown-submenu .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    -moz-transform: translateY(8px);
    -o-transform: translateY(8px);
    -ms-transform: translateY(8px);
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
  .show > .dropdown-menu, .dropdown-submenu:hover > .dropdown-menu {
    opacity: 1;
    visibility: visible;
    z-index: 1000;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    transform: none; } }

/*
Pagination styles
*/
.page-link {
  border: 0px;
  margin-left: 5px;
  border-radius: 3px;
  background-color: #fbfbfb;
  color: #999; }

.page-item.active .page-link {
  z-index: 2;
  color: #fff;
  background-color: #1499de; }

/*
Hero templates
*/
.fullscreen.bg-parallax {
  height: 100%;
  width: 100%;
  background-position: top-center; }
  .fullscreen.bg-parallax .d-flex {
    height: 100%;
    position: relative; }
  .fullscreen.bg-parallax h1 {
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
    font-family: "Open Sans", sans-serif;
    font-size: 3rem; }
  .fullscreen.bg-parallax .lead {
    color: #eee; }

/*
Icon Styles
*/
.icon-card .icon {
  float: left;
  margin-right: 1rem;
  width: 70px;
  text-align: center; }
  .icon-card .icon > i {
    font-size: 35px; }

.icon-content {
  overflow: hidden; }
  .icon-content h4 {
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 400; }

/*
Images overlay hover styles
*/
.team-card, .thumb-hover-icon, .agent-hover, .cbp-caption, .post-thumb, .parallax-overlay {
  position: relative;
  overflow: hidden;
  display: block; }
  .team-card:before, .thumb-hover-icon:before, .agent-hover:before, .cbp-caption:before, .post-thumb:before, .parallax-overlay:before {
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    content: "";
    z-index: 9;
    opacity: 0;
    background: linear-gradient(to bottom, transparent 20%, #000);
    background: -webkit-linear-gradient(to bottom, transparent 20%, #000);
    transition: opacity 0.4s;
    -webkit-transition: opacity 0.4s; }
  .team-card:hover:before, .thumb-hover-icon:hover:before, .agent-hover:hover:before, .cbp-caption:hover:before, .post-thumb:hover:before, .parallax-overlay:hover:before {
    opacity: .9; }
  .team-card .container, .thumb-hover-icon .container, .agent-hover .container, .cbp-caption .container, .post-thumb .container, .parallax-overlay .container {
    z-index: 10;
    position: relative; }

/*
Image boxes styled hover styles
*/
.thumb-hover-icon {
  position: relative;
  display: block;
  width: 75px;
  height: auto;
  border-radius: 5px;
  float: left;
  margin: 3px; }

.thumb-hover-icon img {
  border-radius: 5px; }

.thumb-hover-icon span {
  width: 24px;
  height: 24px;
  display: block;
  line-height: 24px;
  text-align: center;
  background: #1499de;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -12px;
  margin-left: -12px;
  color: #fff;
  border-radius: 50%;
  transform: scale(0);
  -webkit-transform: scale(0);
  transition: all .3s;
  -webkit-transition: all .3s; }

.thumb-hover-icon:hover span {
  transform: scale(1);
  -webkit-transform: scale(1); }

.feature-text {
  font-size: 1rem;
  color: #fff;
  font-weight: 400;
  text-transform: capitalize; }

/*
Portfolio
*/
.cbp-l-filters-buttonCenter .cbp-filter-counter {
  background-color: #1499de; }
  .cbp-l-filters-buttonCenter .cbp-filter-counter:after {
    border-top: 4px solid #1499de; }

.cbp-l-filters-buttonCenter .cbp-filter-item.cbp-filter-item-active {
  color: #1499de;
  border-color: #1499de;
  z-index: 10; }

.cbp-l-grid-mosaic-flat .cbp-caption-activeWrap {
  background-color: rgba(20, 153, 222, 0.5);
  z-index: 10 !important; }

.cbp-l-grid-mosaic-flat .cbp-l-caption-title {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase; }

.cbp-l-filters-buttonCenter .cbp-filter-item {
  font-family: "Open Sans", sans-serif;
  font-weight: 600; }

.cbp-caption-active .cbp-caption {
  z-index: 10 !important; }

.cbp-l-caption-alignCenter {
  display: table;
  width: 100%;
  height: 100%; }
  .cbp-l-caption-alignCenter .cbp-l-caption-body {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 10px 0; }

.link-captions {
  padding-left: 0;
  margin: 0 0 20px;
  list-style: none;
  text-align: center;
  list-style: none; }
  .link-captions li {
    padding: 0 2px;
    display: inline-block; }
    .link-captions li a i {
      color: #fff;
      width: 42px;
      height: 42px;
      padding: 8px;
      font-size: 20px;
      background: transparent;
      border: 2px solid rgba(255, 255, 255, 0.2);
      text-align: center;
      display: inline-block;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      transition: all .3s;
      -webkit-transition: all .3s;
      -ms-transition: all .3s; }
      .link-captions li a i:hover {
        background-color: #fff;
        color: #444; }

.cbp-caption-active .cbp-caption-activeWrap {
  z-index: 10; }

.cbp-l-filters-button .cbp-filter-item, .cbp-l-filters-buttonCenter .cbp-filter-item {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.3); }
  .cbp-l-filters-button .cbp-filter-item:hover, .cbp-l-filters-button .cbp-filter-item:focus, .cbp-l-filters-button .cbp-filter-item.cbp-filter-item-active, .cbp-l-filters-buttonCenter .cbp-filter-item:hover, .cbp-l-filters-buttonCenter .cbp-filter-item:focus, .cbp-l-filters-buttonCenter .cbp-filter-item.cbp-filter-item-active {
    color: #1499de;
    background-color: rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 0.3); }

.cbp-l-grid-agency-title {
  color: #fff; }

.cbp-item:hover .cbp-l-grid-agency-title {
  color: #1499de; }

/***owl carousel**/
.owl-carousel .owl-item img {
  display: block;
  width: auto; }

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }

.owl-theme .owl-dots .owl-dot span {
  width: 7px;
  height: 7px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s; }

.owl-theme .owl-nav {
  margin-top: 10px;
  position: absolute;
  left: 0;
  width: 100%;
  top: 50%; }
  .owl-theme .owl-nav .owl-next {
    right: 0;
    top: -40px;
    position: absolute; }
  .owl-theme .owl-nav .owl-prev {
    left: 0;
    top: -40px;
    position: absolute; }

.owl-theme .owl-nav [class*=owl-] {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  width: 52px;
  height: 52px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.7);
  opacity: .8;
  line-height: 54px;
  font-size: 22px;
  padding: 0px;
  transition: all .3s;
  -webkit-transition: all .3s;
  color: rgba(255, 255, 255, 0.7); }
  .owl-theme .owl-nav [class*=owl-] i {
    display: inline-block; }
  .owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #252525;
    opacity: 1; }

.carousel-feature .icon-box {
  margin-top: 10px; }

.carousel-dark.owl-theme .owl-nav [class*=owl-] {
  border-color: rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5); }
  .carousel-dark.owl-theme .owl-nav [class*=owl-]:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #333; }

/**full screen slider**/
.owl-carousel.fullscreen {
  position: relative;
  overflow: hidden; }
  .owl-carousel.fullscreen .owl-height, .owl-carousel.fullscreen .owl-stage, .owl-carousel.fullscreen .owl-item {
    height: 100% !important;
    position: relative; }
  .owl-carousel.fullscreen .item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }

.testimonial .rounded-circle {
  margin: 0 auto; }

/*
Blog post entries
*/
.entry-card {
  -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05); }

.entry-content {
  background-color: #313131;
  padding: 36px 36px 36px 36px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px; }
  .entry-content .entry-title {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: .9rem;
    line-height: 1.5rem; }
    .entry-content .entry-title a {
      color: #fff; }
      .entry-content .entry-title a:hover {
        color: #1499de; }
  .entry-content .entry-meta span {
    font-size: 12px; }

.entry-thumb {
  display: block;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px; }
  .entry-thumb img {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px; }
  .entry-thumb .thumb-hover {
    position: absolute;
    width: 100px;
    height: 100px;
    background: rgba(20, 153, 222, 0.85);
    display: block;
    top: 50%;
    left: 50%;
    color: #fff;
    font-size: 40px;
    line-height: 100px;
    border-radius: 50%;
    margin-top: -50px;
    margin-left: -50px;
    text-align: center;
    transform: scale(0);
    -webkit-transform: scale(0);
    opacity: 0;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out; }
  .entry-thumb:hover .thumb-hover {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1); }

.blog-post-wide {
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(34, 85, 85, 0.3); }
  .blog-post-wide .post-thumb {
    margin-bottom: 20px; }

.post-meta {
  padding-top: 10px; }
  .post-meta li {
    font-size: 13px;
    font-weight: 400; }
    .post-meta li:not(:last-child) {
      margin-right: 10px; }
    .post-meta li:after {
      margin-top: -5px;
      content: "/";
      margin-left: 10px; }
    .post-meta li:last-child:after {
      display: none; }
    .post-meta li i {
      margin-right: 5px; }
    .post-meta li a {
      color: #aeaeae; }
      .post-meta li a:hover {
        color: #fff; }

.post-content p {
  margin-bottom: 30px; }

.post-content a h3 {
  font-weight: 300;
  transition: all .3s;
  -webkit-transition: all .3s; }
  .post-content a h3:hover {
    color: #1499de; }

/*
Team style
*/
.team-card {
  position: relative;
  overflow: hidden; }
  .team-card h4 {
    color: #fff;
    font-size: 1rem;
    font-weight: 900; }
  .team-card .team-overlay {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    left: 0;
    top: 0;
    opacity: 0;
    -webkit-transition: all 350ms;
    -moz-transition: all 350ms;
    -o-transition: all 350ms;
    transition: all 350ms;
    z-index: 11; }
    .team-card .team-overlay .team-detail {
      -webkit-transform: scale(0.9);
      -moz-transform: scale(0.9);
      -o-transform: scale(0.9);
      -ms-transform: scale(0.9);
      transform: scale(0.9);
      -webkit-transition: all 250ms;
      -moz-transition: all 250ms;
      -o-transition: all 250ms;
      transition: all 250ms;
      text-align: center;
      width: 100%; }
      .team-card .team-overlay .team-detail h4 {
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 0px; }
      .team-card .team-overlay .team-detail span {
        color: rgba(255, 255, 255, 0.8);
        display: block;
        font-size: 13px;
        font-style: italic; }
      .team-card .team-overlay .team-detail .seprator-overlay {
        width: 80px;
        height: 1px;
        margin: 10px auto;
        background: rgba(255, 255, 255, 0.8); }
      .team-card .team-overlay .team-detail ul li a {
        color: #fff; }
        .team-card .team-overlay .team-detail ul li a:hover {
          color: #1499de; }
  .team-card:hover .team-overlay {
    opacity: 1; }
    .team-card:hover .team-overlay .team-detail {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      -webkit-transition: all 250ms;
      -moz-transition: all 250ms;
      -o-transition: all 250ms;
      transition: all 250ms; }

.team-card-default ul li + li {
  margin-left: 5px; }

.team-card-default ul li a {
  color: #999;
  font-size: 20px; }
  .team-card-default ul li a:hover {
    color: #1499de; }

/*
Pricing tables
*/
.pricing-table {
  margin: 10px 0;
  padding: 0 15px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.plan {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0px;
  color: #fff;
  margin-bottom: 35px;
  position: relative;
  z-index: 1;
  left: -1px; }
  .plan h6 {
    color: #aeaeae;
    font-weight: 400; }
  .plan .pricing-content {
    padding: 2em 0 1.5em 1.5em; }
  .plan .plan-header {
    padding: 2em 0 1.5em 1.5em; }
    .plan .plan-header h1 {
      font-weight: 700; }
      .plan .plan-header h1 small {
        font-size: 14px; }
  .plan ul {
    padding: 2em 0 2em 1.5em;
    margin: 0px; }
    .plan ul li {
      padding: 5px 0;
      font-size: 15px;
      color: #aeaeae; }
      .plan ul li i {
        color: #1499de;
        display: inline-block;
        margin-right: 10px; }
  .plan.popular-plan {
    box-shadow: 11px 0 10px -10px rgba(0, 0, 0, 0.3), -11px 0 10px -10px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 2; }
  .plan.plan-dark {
    border: 0px; }
    .plan.plan-dark h1, .plan.plan-dark ul li, .plan.plan-dark ul li i, .plan.plan-dark h6, .plan.plan-dark h4 {
      color: #fff; }
    .plan.plan-dark h4, .plan.plan-dark ul li, .plan.plan-dark h6 {
      opacity: 0.8; }

/*
Template sidebar
*/
.sidebar-title {
  font-weight: 400;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 15px; }

.categories li {
  vertical-align: middle;
  color: #fff; }
  .categories li > ul {
    padding-left: 15px; }
    .categories li > ul > li > a {
      font-weight: 300; }
  .categories li a {
    color: #ddd;
    position: relative;
    display: block;
    padding: 5px 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
    .categories li a:before {
      content: "\f0da";
      font-family: 'FontAwesome';
      margin-right: 5px; }
    .categories li a:hover {
      color: #fff;
      background-color: #313131; }

.categories > li.active > a {
  font-weight: 600;
  color: #fff; }

.media-body h5 {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 18px;
  font-weight: 400; }
  .media-body h5 a {
    color: #aeaeae; }
    .media-body h5 a:hover {
      color: #1499de; }

/**main slider**/
.mainSlide-Title-Centered {
  color: #fff;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: -1px;
  font-family: "Open Sans", sans-serif; }

.mainSlide-Subtitle {
  font-family: "Prata", serif;
  font-weight: 400;
  color: #eee; }

.mainSlide-caption {
  color: #fff;
  font-weight: 300;
  font-family: "Open Sans", sans-serif; }

/*
Footer styles
*/
.footer.footer-dark {
  background: #131313; }
  .footer.footer-dark h3 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: 300;
    text-transform: capitalize; }
  .footer.footer-dark hr {
    border-top-color: rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.footer .social-icons li {
  padding-right: 20px; }
  pa
.footer .social-icons li:last-child {
    padding-right: 0; }
  .footer .social-icons li a {
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.9rem;
    text-transform: capitalize; }
    .footer .social-icons li a i {
      position: relative;
      border-right: 1px solid rgba(255, 255, 255, 0.6);
      text-align: center;
      padding-right: 10px;
      margin-right: 10px; }
    .footer .social-icons li a:hover {
      color: white; }

.footer h4 {
  display: inline-block;
  padding-right: 20px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.8rem;
  margin-bottom: 30px;
  font-weight: 400;
  letter-spacing: 0; }
  .footer h4 i {
    margin-right: 8px; }

.footer p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.8rem; }

.footer-list-item li {
  padding-left: 20px;
  padding-bottom: 10px;
  position: relative; }
  .footer-list-item li:last-child {
    padding-bottom: 0px; }
  .footer-list-item li:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "\f105";
    font-family: 'FontAwesome'; }
  .footer-list-item li a {
    color: rgba(255, 255, 255, 0.8); }
    .footer-list-item li a:hover {
      color: #fff; }
  .footer-list-item li em {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6); }

.contact-list-item li {
  padding-left: 40px;
  position: relative;
  margin-bottom: 15px;
  color: rgba(255, 255, 255, 0.6);
  min-height: 32px;
  padding-top: 5px; }
  .contact-list-item li:last-child {
    padding-bottom: 0px; }
  .contact-list-item li > i {
    position: absolute;
    left: 0;
    top: 0;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.6);
    display: block; }

.footer-nav li + li {
  padding-left: 15px; }

.footer-nav li a {
  color: #fff;
  opacity: 0.7;
  font-size: 13px; }
  .footer-nav li a:hover {
    opacity: 1; }

.info-footer{
   display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.images-work{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.3rem;
  color:white;
}


.before, .after{
  width: 30%;
}

.before-detail, .after-detail{
  width: 20%;
}

.portfolio-title{
  font-size: 2rem;
  font-weight: bold;
}
.portfolio-descriptions{
  font-size: 1.2rem;
}

.images-work .card-img{
  height: 350px;
  width: 600px;
}
.images-work-detail .card-img-detail{
  width: 900px;
}


/*
Responsive style
*/
@media (max-width: 991px) {
  .navbar-toggler {
    border: 0px !important; }
  .navbar-right {
    display: none; }
  .fullscreen.bg-parallax h1 {
    font-size: 1.7rem; }
  .dropdown-submenu .dropdown-menu {
    display: block;
    padding-left: 15px; }
  .navbar.navbar-transparent.fixed-top {
    position: static !important; }
  .dropdown-menu {
    box-shadow: none; }
  .navbar.navbar-transparent.onepagenav {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: #fff !important; } }

@media (max-width: 767px) {
  .team-card .img-fluid {
    width: 100%; } }

@media (max-width: 575px) {
  .container {
    width: 100%; }
  .team-card .img-fluid {
    width: 100%; } }
